# vim swap files
*.swp
*.swo

# emacs lock files
.#*

# vscode settings
.vscode/

.DS_Store

# moonbit
target/
.mooncakes
failed_tests/
rv64_failed_tests/
/*.s

__pycache__

/rvlinux

/submit.zip

/tmp

test/*
!test/test_src
!test/script.gdb
!test/build_*
!test/*_exe
