# vim swap files
*.swp
*.swo

# emacs lock files
.#*

# vscode settings
.vscode/

.DS_Store

# moonbit
target/
.mooncakes
failed_tests/
rv64_failed_tests/
/*.s

__pycache__

/rvlinux

/submit.zip

/tmp

test/*
!test/test_src
!test/longer-cases
!test/script.gdb
!test/debug.html
!test/build_*
!test/run_*
!test/debug_*
!test/source_generator

/zig-linux-*.tar.xz
